/* Main View CSS Start */
body{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
}
#header{

    box-shadow: 0px 1px 5px grey;

}
main{
    margin-top:6rem;
}
#navBar{
    display: flex;
    justify-content: space-between;
    height: 5rem;
    box-shadow: 0px 1px 5px grey;
    padding: 0px 8rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    z-index: 10;
}
#leftNav{
    display: flex;
    justify-content: start;
    align-items: center;
}
#rightNav{
    display: flex;
    justify-content: end;
    align-items: center;
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
}
#ClothingCards{
    display: grid;
    grid-template-columns: 19% 19% 19% 19% 19%;
    grid-column-gap: 1.25%;
}
#AccessoriesCards{
    display: grid;
    grid-template-columns: 19% 19% 19% 19% 19%;
    grid-column-gap: 1.25%;
}
.card img{
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
#main-container{
    padding: 0px 8rem;
}
.card{
    box-shadow: 1px 1px 5px #cfbdbd;
    border-radius: 5px;
}
.aTag{
    text-decoration: unset;
    font-size: 15px;
    text-transform: uppercase;
    padding-right: 3rem;
    color: black;
}
.aTag span:first-child{
    font-weight: 900;
    font-size: 30px;
}
a{
    text-decoration: none;
    color: black;
}
#addCartCount{
    background-color: #009688;
    padding: 0rem 0.3rem;
    border-radius: 30px;
    color: white;
    font-size: 14px;
    position: relative;
    top: -11px;
    right: 10px;
}
#productDetails{
    padding: 0rem 1rem;
}
#productDetails h4{
    /* font-weight: 600;
    margin: 0px;
    font-size: 16px; */
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: rgb(27, 25, 25);
    margin-top: 10px;
    margin-bottom: 0;       
}
#productDetails h5{
    /* margin: 12px 0px; */
    font-size: 12px;
    font-weight: 700;
    color: rgb(110, 110, 110);
    margin-top: 10px;
    margin-bottom: 0;   
}
#productDetails p{
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 2px;
    color: rgb(0, 150, 136);
    margin-top: 10px;
}
#Accessories{
    margin-top: 4rem;
}
#Clothing{
    margin-top: 8rem;
}
#addToCart{
    margin-top: 20px;
    border-radius: none;
}
/* Main View CSS End */


/* Detail View CSS Start */
#main-detail-container{
    display: grid;
    /* flex-wrap: wrap; */
    grid-template-columns: 30% 50%;
    justify-content: center;
    height: 100%;
    padding: 0px 8rem;
    font-family: "Montserrat", sans-serif;
}
#main-image-section{
    width: 100%;
    /* border: 1px solid red; */
    padding: 20px;
    box-sizing: border-box;
    height: 100%;
}
#product-detail-wrapper{
    width: 100%;
    /* border: 1px solid red; */
    padding: 20px;
    box-sizing: border-box;
}

.previewImage{
    display: flex;
    justify-content: left;
    height: 130px;
}
.thumbail{
    height: 100%;
    margin-right: 20px;
    border-radius: 6px;
    padding: 3px;
}
#name{
    font-weight: 300;
font-size: 44px;
letter-spacing: -2px;
margin-top: 0px;
}
#brand{
    margin-top: 20px;
font-weight: 200;
font-size: 20px;
letter-spacing: 1px;
color: rgb(27, 25, 25);
}
#price{
    color: #009688;
font-weight: bold;
}
#description{
    margin-top: 20px;
font-size: 16px;
font-weight: 300;
color: #86939e;
}

#product-detail-wrapper h3{
    margin-top: 20px;
font-weight: 200;
font-size: 20px;
letter-spacing: 1px;
color: rgb(27, 25, 25);
}
#main-image{
    /* height:100%; */
    width:100%;
}
.active{
    border: 2px solid #009688;
}

@media (max-width:500px) {
    #main-container{
        grid-template-columns: 100%;
        justify-content: left;
    }
    .previewImage{
        width: 100%;
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        scroll-behavior: smooth;
    }
}
@media(min-width:500px) and (max-width:850px){
    #main-container{
        grid-template-columns: 50% 50%;
    }
    .previewImage{
        width: 100%;
       white-space: nowrap;
       overflow-x: auto;
       overflow-y: hidden;
       scroll-behavior: smooth;
   }
}
/* Detail View CSS End */

/* Add To Cart CSS Start */
#main-addToCart-container{
    padding: 0px 8rem;
}
#addToCartDiv{
    display: grid;
    grid-template-columns: 48% 48%;
    grid-column-gap: 3.90%;
}
#addToCardItem{
    box-shadow: 1px 1px 5px #b1a5a5;
    display: flex;
    justify-content: start;
    box-sizing: border-box;
    align-items: center;
    margin-bottom: 0.7rem;
    border-radius: 5px;
}
#totalAmount{
    box-shadow: 1px 1px 5px #b1a5a5;
    max-height: 132px;
    padding: 2rem;
    border-radius: 5px;
}
.checkoutItemImg{
    border-radius: 6px;
    padding: 0px 1rem;
    width: 100px;
}

#profile-pic{
    height: 40px;
    width: 40px;
    text-align: center;
    border-radius: 20px;
    background-color: antiquewhite;
    margin-left: 20px;
}
#profile-pic span{
    margin-top: 11px;
    display: inline-block;
}
/* Add To Cart CSS End */

/* Order CSS Start */
#main-order-container{
    padding: 0px 8rem;
    /* height: 100vh; */
    display: grid;
    justify-content: center;
    align-items: center;
}
.orderSuccessMsg{
    letter-spacing:2px;
}
small{
    letter-spacing: 0.3px;
}
.successIcon{
    text-align: center;
    color: green;
}
/* Order CSS End */

/* image slider start here */


.slider{
    margin-top: 50px !important;
    padding-top: 20px;
    z-index: -1;
    width: 100%;
    /* height: 500px; */
    border-radius: 10px;
    overflow: hidden;
  }
  
  .slides{
    width: 500%;
    /* height: 500px; */
    display: flex;
  }
  
  .slides input{
    display: none;
  }
  
  .slide{
    width: 20%;
    transition: 0.5s;
  }
  
  .slide img{
    width: 100%;
    /* height: 500px; */
  }
  
  /*css for manual slide navigation*/
  
  .navigation-manual{
    position: absolute;
    width: 100%;
    margin-top: 0.8vw;
    display: flex;
    justify-content: center;
    display: none;
  }
  
  .manual-btn{
    border: 2px solid gray;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
    opacity: 0.1;
  }
  
  .manual-btn:not(:last-child){
    margin-right: 40px;
  }
  
  .manual-btn:hover{
    background: gray;
  }
  
  #radio1:checked ~ .first{
    margin-left: 0;
  }
  
  #radio2:checked ~ .first{
    margin-left: -20%;
  }
  
  #radio3:checked ~ .first{
    margin-left: -40%;
  }
  
  #radio4:checked ~ .first{
    margin-left: -60%;
  }
  
  /*css for automatic navigation*/
  
  .navigation-auto{
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 23vw;
    left: 20px;
  }
  
  .navigation-auto div{
    border: 2px solid gray;
    padding: 5px;
    border-radius: 10px;
    transition: 0.5s;
    color: red;
    font-size: 30px;
    cursor: pointer;
  }
  
  .navigation-auto div:not(:last-child){
    margin-right: 40px;
  }
  
  #radio1:checked ~ .navigation-auto .auto-btn1{
    background: gray;
    color: blue;
    
  }
  
  #radio2:checked ~ .navigation-auto .auto-btn2{
    background: gray;
  }
  
  #radio3:checked ~ .navigation-auto .auto-btn3{
    background: gray;
  }
  
  #radio4:checked ~ .navigation-auto .auto-btn4{
    background: gray;
  }
    .slides input{
        height: 20px;
        width: 20px;
    } 
    .navigation-auto div{
        height: -2px;
    }



/* image slider end here */

/* FOOTER STARTS HERE */

footer{
    display: flex;
    justify-content: space-around;
    color: white;
    background-color: black;
    padding-bottom: 20px;
    padding: 30px;
    margin-top: 3rem    ;
}
footer p{
    font-size: 12px;
    color: #b8b8b8;
    margin: 5px 0;
}
footer h4{
    color: #dcdcdc;
   
    margin-bottom: 10px;
}

/* style for product page */
button{
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    padding: 10px 20px;
    letter-spacing: 2px;
    background-color: #009688;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 10px rgb(0 0 0 / 50%);
    font-family: "Montserrat", sans-serif;
}